@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #212121;
}
.manrope{
    font-family: "Manrope", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }

  .btn-circle{
    height: 2rem;
    width: 2rem;
    margin-right: 8px;

  }
  .btn{
    min-height: 2rem !important;
  }
  